<div class="container">
  <div class="row">
    <div class="offset-3 col-6 card border-success mt-2">
      <div class="card-header h3">Login</div>
      <form  [formGroup]="loginForm" (ngSubmit)="userLogin()" class="card-body p-4">
        <div class="form-group">
          <label for="user_name">Email</label>
          <input
            formControlName="user_name"
            id="user_name"
            type="text"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            formControlName="password"
            id="password"
            type="password"
            class="form-control"
          />
        </div>
        <button
          class="btn btn-primary mt-3"
          [disabled]="loginForm.invalid"
          type="submit"
        >
          Login</button
        ><a routerLink="/register" class="btn btn-outline-success mt-3"
          >Register</a
        >
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
