<div class="container">
    <div class="row">
      <div class="offset-3 col-6 card border-success mt-2">
        <div class="card-header h3 text-warning">Forget Password</div>
        <form  [formGroup]="forgetPass" (ngSubmit)="onSubmit()" class="card-body p-4">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              formControlName="email"
              id="email"
              type="text"
              class="form-control"
            />
          </div>
  
          <div class="form-group">
            <label for="password">Password</label>
            <input
              formControlName="password"
              id="password"
              type="password"
              class="form-control"
            />
          </div>
          <div
          *ngIf="f['password'].touched && f['password'].invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f['password'].errors && f['password'].errors['required']">
            Password is required.
          </div>
        </div>
          <div class="form-group">
            <label for="repeat_password">Re-enter Password</label>
            <input
              formControlName="repeat_password"
              id="repeat_password"
              type="password"
              class="form-control"
            />
          </div>
          <div
          *ngIf="f['repeat_password'].touched && f['repeat_password'].invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f['repeat_password'].errors && f['repeat_password'].errors['required']">
           Please confirm Password.
          </div>
        </div>
          <button
            class="btn btn-warning mt-3 m-2"
            [disabled]="forgetPass.invalid"
            type="submit"
          >
            Save</button
          >
        </form>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  